html,
body {
    color: #707070;
    height: 100%;
}

.margin-top-top {
  margin-top: 5% !important;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

/* .header {
  height: 80px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
} */

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.card-title  .text{
  color: #fff !important;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
    text-align: center;
    line-height: 26px;
    height: 26px;
    width: 44px;
    display: inline-block;
    font-family: "Open Sans";
    position: relative;
    border-radius: 50px;
    letter-spacing: -0.5px;
}

.listing-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 4px 4px 0 0;
}

.boxed-widget {
    background-color: #f9f9f9;
    border-radius: 3px;
    padding: 32px;
    transform: translate3d(0,0,0);
    z-index: 90;
    position: relative;
}

.hosted-by-title h4 {
    font-size: 18px;
    transition: 0.2s;
    line-height: 22px;
    font-weight: 500;
    margin: 4px 0 7px 0;
}

.hosted-by-title h4 span {
    padding: 0 70px 18px 0;
    margin: -4px 0 25px 0;
    display: block;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
}

.hosted-by-avatar {
    max-width: 56px;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -8px;
    image-rendering: -webkit-optimize-contrast;
}
